---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="left-half">
                    <h1>About Me</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tortor enim. Integer nec purus ac lacus luctus laoreet. Phasellus ac eros condimentum, finibus felis id, feugiat libero. Mauris id nisl in risus hendrerit convallis a in eros. Nulla facilisi.</p>
                    <p>Etiam quis malesuada eros. Fusce tincidunt nisl vitae est dignissim, a vehicula mi malesuada. Phasellus ac justo aliquam, scelerisque mi vel, pulvinar quam. Morbi sit amet nulla id eros aliquet vestibulum. Proin ultricies nunc sit amet justo hendrerit, ut cursus dui ultricies.</p>
                </div>
                <div class="right-half">
                    <img src="person.jpg" alt="Person Image">
                </div>
                <!-- <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div> -->
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
					{{ content }}
	</div>
</div>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/main.min.js "></script>