---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="left-half">
                    I was born in Shiraz, Iran to a family of six. At a young age I was drawn to art, as I attempted to recreate the vibrancy of the world around me.
                    Unfortunately as a revolution and war eventually developed, art classes in Iran were few and far between. 
                    Although I have no formal art education, art was something that brought me a sense of peace and freedom growing up in difficult times. 
                    Today art gives me space to remember and appreciate the beauty of the world around me. 
                    It brings me peace as I search for the different hues of colors I never initially noticed. It urges me to be patient and to take risks. And to learn from my mistakes and be open to new possibilities. 
                    My artwork is infused with a deep connection to the subjects I paint, resulting in organic and authentic pieces that resonate with viewers.
                  
                </div>
                <div class="right-half">
                    <img src="img/ameneh_pic.JPG">
                </div>
                <!-- <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div> -->
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
					{{ content }}
	</div>
</div>

<!-- jQuery -->    

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/main.min.js "></script>